@mixin star-center($padding-sides:15px, $padding-tops:25px){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: $padding-sides $padding-tops;
}

@mixin position-esferas($top:0, $left:600px){
    position: absolute;
    top: $top;
    left: $left;
}
